*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing:border-box;
    color: white;
    /* background-color: black; */
    background-color: #191919;
}
/* html scroll-behavior smooth is use to make page animation smooth when scroll */
html{
    scroll-behavior: smooth;
    scroll-padding: 0.05rem;
}
.hero{
    /* background-color: #191919; */
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: .2s;
}
nav ul li a:hover{
    color: #f9004d;
    transition: #f9004d;
    cursor: pointer;
}


.btn{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(0.9);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 25px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#f9004d;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858;
    top: 6px;
    right: 6px;
}
/* ********  About Section ********/
.about{
    height: auto;
    width: 100%;
    padding: 100px 0px;
    /* background-color: #191919; */
}
.about img{
    height: auto;
    width: 450px;
    border-radius: 50%;
    transition: all ease 1s; /* for image hover effect in about section */
}
.about img:hover{
    scale: 1.1; /* for image hover effect in about section */
}
@media(min-width: 0px) and (max-width: 500px) {
    #about img{
        height: 200px;
        width: 200px;
        transition: smooth;
    }
}

.about-text{
    width: 550px;
}
.main{
    overflow: hidden; /* for image hover effect in about section */
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.submit{
    transition: .4s;
}
.submit:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*********** Skill Section  *************/

.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 30px 10%;
}
.container .main-title{
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	font-family: helvetica;
}
.container .main-title h1{
	position: relative;
	font-size: 40px;
	color: #242223;
	margin-bottom: 30px;
	display: inline-block;
    color: white;
}
.container .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.container .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #d03645;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
    color: white;
}
.container .row{
    width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.row .col{
    flex-basis: 46%;
}
.row .sub-title h2{
    position: relative;
    color: rgb(238, 216, 216);
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
    content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: rgb(157, 64, 64);
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: #d03645;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: #808080;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 90px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color: #808080;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color: #d03645;
	border-radius: 15px;
	top: -1px;
	animation: animate 4.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: #d03645;
}
/* applying media qur* to auto adjust skill section along with user display */
@media(max-width: 768px){
	.container{
		padding: 30px 8%;
	}
}
@media(max-width: 568px){
	.container .row{
		flex-direction: column;
	}
	.container .main-title h1{
		font-size: 36px;
	}
	.container .row{
		margin-top: 30px;
	}
	.row .col:nth-child(2){
		margin-top: 20px;
	}
}

/* *********** Project Section ************ */
.projectpart{
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
}
.portfolio-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project-box {
    /* background-color: #191919; */
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.project-title a{
    text-decoration: none;
}

.project-description {
    font-size: 16px;
    color: #8d6060;
    margin-top: 10px;

}
/* **** Contact **** */
#contact{
    text-align: center;
    padding-bottom: 50px;
}
#contact h2{
    font-size: 30px;
    margin-bottom: 5px;
}
#contact p{
    align-items: center;
}
/* ******** Copyright ******* */
#copyright{
    text-align: center;
}
